*{
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
  background: linear-gradient(to right, lightblue,
  rgba(200, 16, 46, 0.5));
}
h3{
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: black;
}
.club-info ul li{
  list-style-type: none;
  font-weight: 400;
  margin-left: 20px;
}

.club-info li{
  font-weight: 400;
  margin-left: 40px;
}
.img1{
  width: 400px;
  height: 250px;
  background-image: url(https://wallpapers.com/images/hd/fc-barcelona-desktop-3x80lpne7co7olnn.jpg);
  background-size: cover;
  background-position:center;
  border-radius: 5px;
  margin: 0 auto;
}
.container{
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.img2{
  width: 300px;
  height: 250px;
  background-image: url(https://www.fcbarcelona.com/photo-resources/2021/08/09/276ad270-e5c6-453d-8d9f-212417ad7cb3/Camp-Nou-3.jpg?width=1200&height=750);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.img3{
  width: 300px;
  height: 250px;
  background-image: url(https://www.fcbarcelona.com/photo-resources/2024/05/29/59aa3b0d-aefc-4dfd-8a14-fe9b6b7a8024/mini__GP19510.jpg?width=800&height=500);
  background-size: cover;
  background-position:center;
  border-radius: 5px;
}
.img4{
  width: 300px;
  height: 250px;
  background-image: url(https://pbs.twimg.com/media/CkHKhzaWUAA-bXH.jpg:large);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
footer{
  font-size: 20px;
  margin-top: 15px;
}